*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 2px solid red; */
  }
  
  */
  .popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px ;
    font-size: 25px;
  }
  .popup .form .form-element {
    margin: 15px 0px;
  }
  .popup .form .form-element label {
    font-size: 14px;
    color:#222;
  }
  .form-element input[type="text"],
  .form-element input[type="password"]{
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 15px;
    /* margin-top:5px; */
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    /* border: 1px solid rgb(131, 12, 12); */
    border-radius: 5px;
       /* border: 2px solid red; */
     background-color: rgb(241,240,234);
  
  }
  .form-element input[type="checkbox"]{ 
    margin-right: 5px;
    margin-top: 10px;
    background-color:rgb(241,240,234)
  
  
  }
  .form-element button{
   margin-top: 20px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #222;
    color: #f5f5f5;
    border-radius: 5px;
    cursor:pointer;
  }
  .form-element a{
   margin-top: 20px;
    display: block;
    text-align:center;
    font-size: 15px;
    color:#1a79ca ;
    text-decoration: none;
    font-weight: 600;
  }
  .popup-overlay{
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background:rgba(0,0,0,0.5);
   display: none;
  
  }
  .popup{
   position: absolute;
   top: -150%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 400px;
   background-color:rgb(241,240,234);
   font-family: "Raleway";
   padding: 20px;
   border-radius: 10px;
   /* border: 2px solid red; */
  }
  .popup .popup-close-btn{
   position:absolute;
   top: 10px;
   right: 10px;
   font-size: 20px;
   background: #000000;   
   padding: 10px;
   border-radius: 5px;
   color: white;
   
  }
  body.popup-active .popup{
   top: 50%;
  }
  body.popup-active .popup-overlay{
  display: block; 
  }
  #heading{
   text-align: center;
   /* border: 2px solid red; */
   /* background-color: white; */
  
  }
  .logoset{
   margin: auto;
   width: 50%;
   /* border: 2px solid red; */
  }
  .logoset img{
   width:100%;
   /* border: 2px solid red; */
  
  }
  
  #empty{
   color: red;
   text-align: center;
  }
  #open-popup-btn{
   height:40px;
   border: none;
  
  }
  
  
  
  /* *{
   background-color:rgb(241,240,234);
  } */
  #signup{
   /* display: none; */
   background-color:rgb(241,240,234);
  }
  .set{    
   display: none;
   width: 25%;
   /* height: 650px; */
   /* border-style: dashed; */
   text-align: center;
   /* margin-left: 100px; */
   /* margin-top: 50px; */
   box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translate(-50%,-50%);
  
   background-color:rgb(241,240,234);
   font-family: "Raleway";
   padding: 20px;
   border-radius: 10px;
  }
  .set img{
   /* margin-top: 50px; */
   /* margin-left: 100px; */
   width: 60%;
  }
  #name{
   border:none;
   margin-left: 15px;
   width: 90%;
   height: 30px;
   /* border: 2px solid red; */
  }
  #gender{
    margin-top: 10px;
   border:none;
   margin-left: 15px;
   width: 90%;
   height: 30px;
   /* border: 2px solid red; */
  }
  #zipcode{
    margin-top: 10px;
   border:none;
   margin-left: 15px;
   width: 90%;
   height: 30px;
   /* border: 2px solid red; */
  }
  .Email{
   margin-top: 10px;
   border:none;
   margin-left: 15px;
   width: 90%;
   height: 30px;
   /* border: 2px solid red; */
  }
  .Password{
   border: none;
   margin-left: 15px;
   margin-top: 10px;
   width: 90%;
   height: 30px;
   /* border: 2px solid red; */
  }
  #mobile{
   border: none;
   margin-top: 10px;
   margin-left: 15px;
   width: 90%;
   height: 30px;
   /* border: 2px solid red; */
  }
  
  .submit{
   border: none;
   margin-top: 10px;
   margin-left: 15px;
   width: 90%;
   height: 30px;
   background-color:#555;
   border-radius: 5px;
   color: white;
  
  
  }
  .back{
   margin-top: 15px;
   justify-content:space-evenly;
   background-color:rgb(241,240,234);
  
  
  }
  .logoset1 img{
   /* border: 2px solid red; */
   margin-top:0px;
  }
  .h2{
   margin-top:0px;
   margin-bottom: 80px;
   /* border: 2px solid red; */
  
  }
  
  /* body{
   border: 1px solid rgb(255, 254, 254);
   height: 750px;
   background-image:
   url("https://imgs.search.brave.com/2hyC_yO9PpNTbmq0Giys4Tzb5fIjSgvbCd52HY_WsSA/rs:fit:800:600:1/g:ce/aHR0cHM6Ly9jZG4u/ZHJpYmJibGUuY29t/L3VzZXJzLzM0MzM4/Mi9zY3JlZW5zaG90/cy8xNTc3NTU5L3Vu/dGl0bGVkLTEuZ2lm.gif");
  background-size: cover;
  background-repeat:no-repeat;
  } */
  
  
  
  #fill1{
    color: red;
    text-align: center;
  }
  #fill2{
    color: rgb(15, 139, 15);
    text-align: center;
  }
  
  @media (min-width: 30px) and (max-width: 900px) {
    .set{    
      display: none;
      width: 55%;
      height: 650px;
      border-style: dashed;
      text-align: center;
      margin-left: 100px;
      margin-top: 50px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
  }
  .account:hover + .accountsec {
    display: block;
    position: absolute;
    
  }
  .accountsec{
    display: none;
  }
  #accountbtn{
    display: none;
    border: solid rgb(238, 234, 215);
    border-radius: 50%;
    background-color: gray;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: -4px;
  
  }
  .accountsec div{
    background-color: antiquewhite;
    padding: 10px;
  }