.body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: gray;
}
.footer1{
    width: 90%;
    margin: auto;
    
}
.footer1 a{
    color: #00acee;
}
.footer1 h3{
 font-weight:lighter;
}
.footer1 p{
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
    
}
.footer2{
    width: 90%;
    margin: auto;
}
.footer2 h3{
    font-weight:lighter;
   
}
.footer2 a{
    border: 1px solid black;
    padding: 10px;
    color: black;
    margin-right: 1%;
    margin-left: 1%;
    
}
#mygrid1{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    row-gap: 2%;
    font-size: small;
}
.footer2 hr{
    margin-bottom: 2%;
}
#mygrid1 :hover{
    background-color: #CFD8DC;
}
.footer3{
    width: 90%;
    margin: auto;
    margin-top: 3%;
}
.footer3 h3{
    font-weight:lighter;
   
}
.footer3 a{
    border: 1px solid black;
    padding: 5%;
    color: black;
    align-items: center;
}
.footer3 hr{
    margin-bottom: 30px;
}
#mygrid :hover{
    background-color: #CFD8DC;
}
#mygrid{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    gap: 10px;
    font-size: small;
    align-items: center;
}
#mygrid a{
        /* justify-content: center; */
        align-items: center;
        
}
.row{
    display: flex;
    margin: auto;
    
}
.row div{
    padding: 3%;
    width: 90%;
    align-items: center;
    padding-bottom: 5px;
}
.footer-column ul :hover{
    text-decoration: underline;
}
.footer-column a{
   
    color: black;
}
.footer-column div{
    padding: 5%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.footer-column h4{
    /* justify-content: center; */
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
}
#head1 h3{
    margin-left: 10%;
    padding-top: 2%;
    font-weight: 500;
 }
 #head1 hr{
    width: 90%;
    margin-bottom: 5%;
 }
 #head1 a{
    color: skyblue;
 }
 .footer4{
    width: 90%;
    
 }
 .footcontainer {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.footcontainer h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.footcontainer ul {
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footcontainer ul li {
    width: 10px;
    margin: 1rem;
    height: 10px;
    padding: 1rem;
    display: flex;
    font-size: 30px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
    border: 1px solid rgb(195, 194, 211);
    border-radius: 15px;
    background-color: black;
}

ul li a {
    color: white;
   
}

.footcontainer ul li:hover {
    transform: translate(5px, -5px);
    border-radius: 15px;
}

.fb:hover i,
.fb:hover {
    color: white;
    background-color: blue;
    border-radius: 15px;
}

.yt:hover i,
.yt:hover {
    color: white;
    background-color: red;
    border-radius: 15px;
}

.insta:hover i,
.insta:hover {
    color: white;
    background-color: rgb(165, 14, 14);
    border-radius: 15px;
}

.github:hover i,
.github:hover {
    color: white;
    background-color: #272b33;
    border-radius: 15px;
}

.twitter:hover i,
.twitter:hover {
    color: white;
    background-color: #00acee;
    border-radius: 15px;
}
#Search{
  height: 40px;
  margin-left: 15px;
  
}
#join{
    height: 45px;
    width: 75px;
   background-color: black;
   color: white;
   font-size: large;
   font-weight:900;
}
#Search :hover{
   border: 5px solid skyblue;
}
.Bottom1{
    width: 70%;
    text-align: center;
    display: flex;
    margin: auto;
    
}
.Bottom1 a{
    padding: 1%;
    color: black;
}
.Bottom1 a :hover{
    text-decoration: underline;
}
.Bottom2{
    width: 65%;
    text-align: center;
    display: flex;
    margin: auto;
    /* margin-top: 5px; */
    /* font-size: small; */

}
.Bottom2 a{
    padding: 1%;
    color: black;
}
#lastline{
    width: 90%;
    margin: auto;
    margin-top: 0px;
    text-align: center;
   
    color: gray;
}
@media screen and (min-width: 320px) and (max-width: 720px) {
    body {
      font-size: 16px;
    }
    #mygrid{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 10px;
        font-size: small;
        align-items: center;
    }
    #mygrid1{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        row-gap: 2%;
        font-size: small;
    }
  }
  @media screen and (min-width: 220px) and (max-width: 319px) {
    body {
      font-size: 16px;
    }
    #mygrid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        font-size: small;
        align-items: center;
    }
    #mygrid1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 2%;
        font-size: small;
    }
  }
  