* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: black;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    /* border: 5px solid purple; */
    display: flex;
}

.navigator {
    /* display: none; */
    width: 20%;
    background: #007ab8;
    position: fixed;
    /* position: -webkit-sticky; */
    top: 0;
    z-index: 11;
}

.navbar {
    margin: auto;
    height: 100vh;
    /* border: 1px solid red; */

}

.logo {
    border-radius: 10px;
    overflow: hidden;
}

.logo>img {
    width: 85%;
    display: block;
    margin: auto;
    max-height: 80px;
    /* background-color: #5bc8ff; */

}

.links {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
}

.links>a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 50px;
    /* border: 1px solid rgb(118, 118, 118); */
}

.links>a:hover {
    background-color: white;
    color: black;
    border-right: 1px solid black;
}

.links>a:active {
    background-color: black;
    color: white;
}

.admin {
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px solid black;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 10;
    background-color: white;
}


.month_Chart {
    width: 100%;
    /* margin: 0; */
    background-color: white;

}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 26%;
    margin-top: 50px;
}

th,
td {
    padding: 15px;
    width: auto;
}

tr>th {
    background-color: #007ab8;
    color: white;
}

thead{
    position: sticky;
    /* position: -webkit-sticky; */
    top: 7%;
}
td:nth-child(2){
    width: 0%;
}
.Poster {
    /* border: 1px solid red; */
    width: 100%;
}

input {
    border: none;
    width: 90%;
    font-size: 14px;
}

input[type="text"]:disabled {
    background-color: white;
}

.edit,.delete{
    cursor: pointer;
}
.edit{
    color: white;
    background-color: green;
}
.delete{
    background-color: rgb(255, 22, 22);
    color: white;
}

.edit:hover{
    background-color: rgb(64, 159, 64);
}
.delete:hover{
    background-color: rgb(232, 91, 91);
}
.edit:active{
    background-color: rgb(225, 225, 225);
}
.delete:active{
    background-color: rgb(250, 250, 250);
}

.notification{
    display: none;
    position: fixed;
    top: 8%;
    left: 45%;
    width: 17%;
    font-size: 23px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background: rgba(0,0,0,0.8);
    color: white;
}