* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: black;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    /* border: 5px solid purple; */
    display: flex;
}

.navigator {
    width: 20%;
       background: #0070d2;
    
    /* border: 1px solid red; */
}

.navbar {
    margin: auto;
   
    height: 100vh;
    /* border: 1px solid red; */
    
}
.logo{
    border-radius: 10px;
    overflow: hidden;
}
.logo>img {
    width: 85%;
    display: block;
    margin: auto;
    max-height: 80px;
    /* background-color: #5bc8ff; */

}
.links{
    margin-top: 30%;
    display: flex;
    flex-direction: column;
}
.links>a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 50px;
    /* border: 1px solid rgb(118, 118, 118); */
}
.links>a:hover{
    background-color: white;
    color: black;
    border-right: 1px solid black;
}
.links>a:active{
    background-color: black;
    color: white;
}
.admin{
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px solid black;
}
.heading {
    width: 25%;
    /* padding-left: 3%; */
    margin: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    /* border-bottom: 2px solid black; */
}

.month_Chart {
    width: 80%;
    background-color: rgb(230, 230, 230);

}

.month_Chart>div {
    width: 70%;
    margin: auto;
    height: 70vh;
    /* border: 1px solid blue;  */
}
#myChart>div>div{
    overflow: hidden;
    border-radius: 2%;
    background-color: rgb(230, 230, 230);
    
}